.landing {
    background-color: #84a6c662;
    border: 3px solid #84A6C6;
    border-radius: 4px;
}

@media(max-width:768px) {
    div>img {
        width: 200px;
    }

}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}